.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    height: 50px;
}


.navbar .logout-btn {
    border-radius: 1rem;
    padding: 0.3rem 1.5rem;
    position: absolute;
    right: 25px;
}