.dark-theme {
    background-color: blueviolet;
}


/* expense 2 css */


/* *{
    margin:0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background:#042159;
    color:#77D9AB;
} */

.title {
    width: 500px;
    color: #0869A6;
    margin: 3% auto;
}

.content {
    margin-top: 5rem !important;
    width: 580px;
    margin: 0 auto;
    background-color: #9AD0C2;
    padding: 2rem;
  
}

.content h3{
    font-weight: 400;
}

.secondTitle {
    text-align: left;
    margin: 2% 0;
    font-weight: 100;
}

.expense .form {
    padding: 5px;
}

.formLine {
    display: inline-flex;
    padding: 5px 0px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 100px;
}

.expense input,
select {
    width: 130px;
    /* margin-left: 10px; */
}



.expense .control {
    margin-bottom: 0.5rem;
}

.expense .control label {
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.expense .control input,
select {
    font: inherit;
    /* background-color: #f1e1fc; */
    /* color: gray; */
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

/* table style */
table {
    width: 100%;
}

thead {
    background-color: #042159;
    line-height: 30px;
}


.outer-btn {
    display: flex;
    width: 30%
}


.expense button {
    width: 80%;
    margin-right: 50%;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    background-color: #04BF8A;
    border-radius: 5px;
    margin: 14px 10%;
    cursor: pointer;
}

.expense .cancel-edit {
    width: 80%;
    margin-right: 50%;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    background-color: red;
    border-radius: 5px;
    margin: 14px 10%;
    cursor: pointer;
}

.disable-edit {
    pointer-events: none !important;
    opacity: 0.4 !important;
}